<!doctype html>
<html lang="en" ng-app="EventDayApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div ng-controller="EventVoteCtrl" class="container">
    <div class="row">
        <div ng-repeat="event in events" class="col-md-4">
            <h1>{{event.name}}</h1>
            <a ng-click="reverse=false" ng-Show="reverse" href="">/\</a>
            <a ng-click="reverse=true" ng-Hide="reverse" href="">\/</a>
            <div ng-repeat="availableDay in event.availableDays | orderBy: byOrder: reverse" class="row">
                <div class="col-md-1">
                    <div class="span0 well votingWidget">
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <i class="icon-chevron-up icon-white"></i>
                        </div>
                        <div class="badge badge-inverse">
                            <div class="ng-binding">0</div>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-11">
                    {{availableDay.date | date: 'MMM d, y'}}
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/EventVote.js"></script>
</body>
</html>
